<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spotify Template</title>
		
		<!-- Include libraries -->
		<script src="https://code.jquery.com/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script>
		<script type="text/javascript" src="raty-2.7.0/vendor/jquery.js"></script>
		<script type="text/javascript" src="raty-2.7.0/lib/jquery.raty.js"></script>
        <link rel="stylesheet" href="raty-2.7.0/lib/jquery.raty.css">
  		<script type="text/javascript" src="ngraty.js"></script>

        
		<!-- Read scripts -->
		<link rel="icon" href="img/spotify-icon.png">
	    <title>Spotify Template</title>
		<script src="app.js"></script>
		<link href="app.css" type="text/css" rel="stylesheet"/>
		
	</head>
	<body>
		<nav>
	        <div class="container">
	        <!-- Header for mobile -->
		        <img id="plane" src="img/spotify-icon.png" style="width:142px;height:142px;"/>
		        <img src="img/spotify-icon.png" style="width:142px;height:142px;"/>
		        <img src="img/spotify-icon.png" style="width:142px;height:142px;"/>
		        <img src="img/spotify-icon.png" style="width:142px;height:142px;"/>
		        <img src="img/spotify-icon.png" style="width:142px;height:142px;"/>
		        <img src="img/spotify-icon.png" style="width:142px;height:142px;"/>
		        <img src="img/spotify-icon.png" style="width:142px;height:142px;"/>
		        <img id="plane2" src="img/spotify-icon.png" style="width:142px;height:142px;"/>
		        <span><h2 id="phrase">A place where the music finds you ;)</h2></span>
		        
	            <!-- Screen navigation elements -->
	        </div>
	    </nav>

		<!-- Initiate app -->
		<div class="container-fixed" ng-app="myApp" ng-controller="myCtrl">
			<!-- Form -->
			<form class="" id="search" name="songForm">
				<div class="form-group">
					<h3>Spotify search:</h3>
					<input name="search" placeholder="Enter your search.." ng-model="track" class="form-control"></input>
				</div>
				<div class="form-group">
					<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getSongs()" type="submit">Submit</button>
				</div>
			</form>
			
			<!-- Results -->
			<div class="form-horizontal col-sm-6 col-md-6" id="left">
				<nav id="results-left">
					<div id="tabs">
						<h3>Results</h3>
					</div>
					<p ng-show="tracks.length>0" class="help-block">Click image to sample song</p>
					<h4>Add song to playlist by clicking: "+" button</h4>
					<ul>
						<li ng-repeat="track in tracks" class="" >
						<!-- takes the first element in the images array -->
							<img ng-show="currentSong == track.preview_url" id="change" ng-src="{{track.album.images[1].url}}" ng-click="play(track.preview_url)" title="{{track.name}}"> 
							<img ng-show="currentSong != track.preview_url" id="change" ng-src="{{track.album.images[2].url}}" ng-click="play(track.preview_url)" title="{{track.name}}">
							{{track.name + ', by ' + track.artists[0].name}}
							<div ng-raty="ratyOptions" ng-model="track.stars"></div> 
							<h3>{{'Popularity: ' + track.popularity}}</h3>
							<button class="btn btn-primary" id="create" type="submit" ng-click="addSong(track)">+</button>

						</li>
					</ul>
				</nav>
			</div>
			<form>
				<div class="form-horizontal col-sm-6 col-md-6" id="right">
					<nav id="results-right">
						<h3>Create your own playlist</h3>
						<h4>Remove song from playlist by clicking: "x" button</h4>
						<li ng-repeat="track in playlist" class="">
				        <div id="playlist" title="{{track.name}}">
				        <img ng-show="currentSong == track.preview_url" id="change" ng-src="{{track.album.images[1].url}}" ng-click="play(track.preview_url)" title="{{track.name}}"> 
							<img ng-show="currentSong != track.preview_url" id="change" ng-src="{{track.album.images[2].url}}" ng-click="play(track.preview_url)" title="{{track.name}}">
							<div ng-raty="ratyOptions" ng-model="track.stars"></div> 
							<h3>{{'Popularity: ' + track.popularity}}</h3>
							<button ng-click="removeSong(track)" class ="btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
				        </div>
				        </li>
					</nav>
				</div>
			</form>
		</div>
	</body>
</html>